.buttons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  
  .button {
    background-color: #BD5D38; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .button:hover {
    text-decoration-line: none;
    background-color: #bd6543;
    color: aliceblue;
    border-color: cadetblue;
    border: solid chartreuse 2px;
  }