.buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  flex-wrap: wrap; /* Allows buttons to wrap to the next line if necessary */
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  flex: 1 1 auto; /* Allows buttons to shrink and grow */
}

.button:hover {
  text-decoration-line: none;
  background-color: #45A049;
}

.card {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Ensure card does not exceed screen width */
}

.carousel-inner img {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: auto; /* Maintain the aspect ratio of the image */
  object-fit: contain; /* Ensure the image is fully visible without being cropped */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
  flex-grow: 1;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limit the number of lines to 4 */
  -webkit-box-orient: vertical;
}

.btn-container {
  display: flex;
  flex-wrap: wrap; /* Allows buttons to wrap to the next line if necessary */
  gap: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
}

.img-profile::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 5px solid transparent;
  background: linear-gradient(white, white), linear-gradient(90deg, #f3ec78, #af4261);
  background-clip: content-box, border-box;
  background-origin: border-box;
  animation: border-animation 3s linear infinite;
}

.img-profile {
  position: relative;
  display: inline-block;
}

@keyframes border-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .buttons {
    justify-content: center;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 14px;
    flex: 1 1 100%; /* Ensure buttons take full width on small screens */
  }
  
  .card-text {
    -webkit-line-clamp: 3; /* Reduce number of lines for smaller screens */
  }
}

.animated-text{
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
  content: "Youtuber";
  color: #17e4ff;
  animation: words 20s infinite;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #0f0f0f;
  border-left: 2px solid #17e4ff;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
      border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,20%{
      content: "Mobile Developer";
  }
  21%,40%{
      content: "Web Developer";
  }
  41%,60%{
      content: "UI/UX Designer";
  }
  61%,80%{
      content: "Desktop App. Developer";
  }
  81%,100%{
      content: "Problem Solver";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}