.buttons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .button:hover {
    text-decoration-line: none;
    background-color: #45A049;
  }

  .card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: 400px; /* Adjust the height as needed */
  }
  
  .card-img-top, .carousel-inner img {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #6c757d;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  